<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
<header>
    <img src="/public/img/logo-mercado-liebre.svg" alt="Logo de la empresa">
<input type="search" name="cajadebusqueda" placeholder="Buscar productos, marcas y mas">
<h2>Comprá en cuotas y sin tarjeta de crédito</h2>
</header>
</body>
</html>