<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <header>
        <img src="/public/img/logo-mercado-liebre.svg" alt="Logo de la empresa">
    <input type="search" name="cajadebusqueda" placeholder="Buscar productos, marcas y mas">
    <h2>Comprá en cuotas y sin tarjeta de crédito</h2>
    <nav>
        <ul>
            <li> <a href="#">Ofertas</a> </li>
            <li> <a href="#">Tiendas Oficiales</a> </li>
            <li> <a href="#">Vender</a> </li>
            <li> <a href="#">Ayuda</a> </li>
        </ul>
        <ul>
            <li> <a href="/register">Creá tu cuenta </li> 
            <li> <a href="/login">Ingresá </li>
            <li> <a href="#">Mis compras</li>
        </ul>
    </nav>
    </header>
    <main>


    </main>
    <footer>
        
        <div>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>
    
        <div>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>
    
        <div>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </div>
        
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        
    
    </footer>
</body>
</html>